<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659939478304-s21d9nt8siood64sfojh864k2g3p2cue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659939478304-s21d9nt8siood64sfojh864k2g3p2cue</string>
	<key>API_KEY</key>
	<string>AIzaSyAOAwgG1Q9roi8fkHiRCOAtj5lnh1wH8v0</string>
	<key>GCM_SENDER_ID</key>
	<string>659939478304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Piciewody</string>
	<key>PROJECT_ID</key>
	<string>piciewody-9e12e</string>
	<key>STORAGE_BUCKET</key>
	<string>piciewody-9e12e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659939478304:ios:d632b7ee3fb887f1842545</string>
	<key>DATABASE_URL</key>
	<string>https://piciewody-9e12e.firebaseio.com</string>
</dict>
</plist>